<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Products</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.name}"/>
            <td th:text="${product.description}"/>
            <td th:text="${product.price}"/>
        </tr>
    </tbody>
</table>

</body>
</html>